{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
<h1>Produit : {{produit.nom}}</h1>

{% if produit.photo is not null  %}
<img src="{{asset('/uploads/'~produit.photo)}}">
{% endif %}

<p> Prix : {{produit.prix}}</p>
<p> Quantité : {{produit.qte}}</p>

{{form (form_ajout)}}
<a href="{{ path('delete_produit',{'id':produit.id}) }}">Supprimer</a>

{% endblock %}